# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks
!debug.keystore

# Kotlin
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Purge desktop leftovers
node_modules/
dist/
target/
.tauri/
src-tauri/target/
