# .NET Core / C#
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.log

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS Files
.DS_Store
Thumbs.db
