<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DeepEyeUnlocker" Language="1033" Version="1.1.1.0" Manufacturer="DeepEyeUnlocker Community" UpgradeCode="c3c3c3c3-c3c3-c3c3-c3c3-c3c3c3c3c3c3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="DeepEyeUnlocker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="DeepEyeUnlocker" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DeepEyeUnlocker"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="DeepEyeExecutable" Guid="d1d1d1d1-d1d1-d1d1-d1d1-d1d1d1d1d1d1">
				<File Id="DeepEyeExe" Source="$(var.DeepEyeUnlocker.TargetDir)DeepEye.UI.Modern.exe" KeyPath="yes" Checksum="yes" />
			</Component>
		</ComponentGroup>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="e2e2e2e2-e2e2-e2e2-e2e2-e2e2-e2e2-e2e2-e2e2-e2e2">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="DeepEyeUnlocker Pro" 
                  Description="Professional Mobile Unlock Tool"
                  Target="[INSTALLFOLDER]DeepEye.UI.Modern.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\DeepEyeUnlocker" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>
